@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hero-bg {
  background-color: rgb(55 22 49 / 74%) !important
}